<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738841710831-rl50pvkkocpcuc3qmjhpoed6k553s1ti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738841710831-rl50pvkkocpcuc3qmjhpoed6k553s1ti</string>
	<key>API_KEY</key>
	<string>AIzaSyBgvD6h4Xe8yPcHvDm_evFrB242qDcqnU0</string>
	<key>GCM_SENDER_ID</key>
	<string>738841710831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pro-emp.firebase</string>
	<key>PROJECT_ID</key>
	<string>myemppro</string>
	<key>STORAGE_BUCKET</key>
	<string>myemppro.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738841710831:ios:76ebeed2b10082d3904b1a</string>
</dict>
</plist>